<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%if(count == 1){%>
        <h2>Welcome to this page for the first time!</h2>
    <%}else if (count > 1){%>
        <h2>You visited this page <%= count %> times.</h2>
    <%}%>

    <form action="/logout" method="post">
        <button>Log out</button>
    </form>
</body>
</html>